trigger:
  - develop
#addinf pool name
pool:
  name: test

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: 'f262d918-d061-436d-aa43-9ab62dff1cd6'
  imageRepository: 'kdotnetdemodockerk8'
  containerRegistry: 'bhuvana.azurecr.io'
  dockerfilePath: '**/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'bhuvanaa6d0-auth'
  vmImageName: 'myVm'

stages:
  - stage: Build
    displayName: Build stage
    jobs:
      - job: Build
        displayName: Build
        pool:
          vmImage: $(vmImageName)  # Use the variable here
        steps:
          - task: Docker@2
            displayName: Build and push an image to container registry
            inputs:
              command: buildAndPush
              repository: $(imageRepository)
              dockerfile: $(dockerfilePath)
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)

          - publish: $(Pipeline.Workspace)/manifests
            artifact: manifests

  - stage: Deploy
    displayName: Deploy stage
    dependsOn: Build

    jobs:
      - deployment: Deploy
        displayName: Deploy
        pool:
          vmImage: $(vmImageName)  # Use the variable here
        environment: 'Ponugoti98dotnetdemok8s.dotnetdemo'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: KubernetesManifest@0
                  displayName: Create imagePullSecret
                  inputs:
                    action: createSecret
                    secretName: $(imagePullSecret)
                    dockerRegistryEndpoint: $(dockerRegistryServiceConnection)

                - task: KubernetesManifest@0
                  displayName: Deploy to Kubernetes cluster
                  inputs:
                    action: deploy
                   
